.card {
  background: #292a2b;
  border-radius: 1.5em;
  padding: 3em;
  box-shadow: -0.25rem 0em 5rem 0.25rem rgba(32,32,32, 0.3);
}
.card h2 {
  margin-top: 0em;
  margin-bottom: 0.25em;
}
.card .links {
  display: flex;
  margin-top: 3em;
}
.card .links > *:not(:first-child) {
  margin-left: 1.5em;
}
.card .tech-stack {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

} 