.card {
  background: transparent;
  border-radius: 1.5em;
  padding: 3em;
}
.card.active {
  background: #292a2b;
  transition: background 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.card.active h2 {
  margin-top: 0em;
  margin-bottom: 0.25em;
  opacity: 1;
  transition: opacity 0.3s ease-in 0.45s;
}
.card h2 {
  margin: 0;
  opacity: 0;
}
.card p {
  opacity: 0;
}
.card.active p {
  opacity: 1;
  transition: opacity 0.35s ease-in 0.6s;
} 
.card .links {
  display: flex;
  opacity: 0;
  margin-top: 0rem;
  flex-wrap: wrap;
}
.card.active .links {
  transition: opacity 0.35s ease-in 0.6s;
  opacity: 1;
  margin-top: 3em;
}
.card .links > *:not(:last-child) {
  margin-right: 1.5em;
}
.card .tech-stack {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 1.25rem;
}
.card .tech-stack span:not(:last-child) {
  margin-right: 1rem;
} 
.card .tech-stack span {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--purple);
  font-size: 1.25rem;
}


@media screen and (max-width: 767px) {
  .card {
    height: 0;
    padding: 3em;
  }
  .card.active {
    background: #292a2b;
    height: inherit;
    transition: background 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.4s, height 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.3s;
  }
  .card.active h2 {
    margin-top: 0em;
    margin-bottom: 0.25em;
    opacity: 1;
    font-size: 2.5rem;
    transition: opacity 0.3s ease-in 0.6s;
  }
  .card h2 {
    margin: 0;
    font-size: 0rem;
    opacity: 0;
  }
  .card p {
    height: 0;
    opacity: 0;
  }
  .card.active p {
    height: inherit;
    opacity: 1;
    transition: opacity 0.35s ease-in 0.6s, height 0.35s ease 0.6s;
  } 
  .card .links {
    opacity: 0;
    height: 0;
    margin-top: 0rem;
    overflow: hidden;
  }
  .card.active .links {
    opacity: 1;
    height: inherit;
    flex-direction: column;
    transition: opacity 0.35s ease-in 0.6s, height 0.35s ease 0.6s;
  }
  .card .tech-stack, .card.active .tech-stack {
    flex-wrap: wrap;
    justify-content: flex-start
  }
  .card .tech-stack span {
    margin-top: 1rem;
  }
}