.carousel {
  /* background-color: blueviolet; */
  position: relative;
  height: 425px;
  width:100%;
}
.indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin: 5% 15%;
  
  list-style: none;
}
.indicator {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(255,255,255,0.75);
}
.indicator:hover {
  /* background-color:  */
}
.indicators .indicator:not(:last-child) {
  margin-right: 1.5rem;
}
.caption {
  position: absolute;
  background-image: linear-gradient(to top, rgba(25,25,26, 0.85), rgba(0,0,0, 0));
  bottom: 0;
  left: 0;
  right: 0;
}