.carousel {
  position: relative;
  height: 425px;
  width:100%;
}
.carousel-image {
  position: absolute;
  height: 425px;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}
.indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin: 5% 15%;
  list-style: none;
}
.indicator, .indicator-selected {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(255,255,255,0.5);
}
.indicator-selected {
  background-color: rgba(255,255,255,0.9);
}
.indicators > *:not(:last-child) {
  margin-right: 1.5rem;
}
.caption {
  position: absolute;
  background-image: linear-gradient(to top, rgba(11,11,11, 0.95), rgba(0,0,0, 0));
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.5rem;
}
@media screen and (max-width: 767px) {
  .carousel {
    height: 300px;
  }
  .carousel-image {
    position: absolute;
    left: -4rem;
    height: 300px;
    width: 100vw;
    /* object-fit: cover;
    object-position: center center; */
  }
  .caption {
    left: -4rem;
    right: -4rem;
    padding: 1.5rem 4rem; 
    bottom: 0px;
  }
  .caption p {
    font-size: 1.5rem ;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .carousel {
    height: 300px;
  }
  .carousel-image {
    position: absolute;
    left: -15rem;
    height: 300px;
    width: 100vw;
  }
  .carousel-image img {
    /* object-fit: cover; */
    object-position: 0px -20rem !important;
  }
  .caption {
    left: -15rem;
    right: -15rem;
    bottom: -0.69px;
    padding: 1.5rem 15rem; 
  }
  .caption p {
    font-size: 1.75rem ;
  }
}