html {
  height: 100%;
  background: #252627; /*/ 252627 could be the navbar */
  color: #fff;
  font-size: 10px;
}

body {
  margin: 0;
}

.container {
  margin: 2em;
}
.page-wrapper {
  padding: 4em 6em;
}

@media screen and (max-width: 767px) {
  .page-wrapper {
    padding: 4em 0em;
  }
}