.projects {
  display: flex;
}
.project {
  position: relative;
  height: 580px;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
}

.project-image {
  position: absolute;
  height: 75%;
}


@media screen and (max-width: 767px) {
  .projects {
    flex-direction: column;
  }
  .projects > *:not(:last-child) {
    margin-bottom: 5rem;
    margin-right: 0rem;
  }
  .project {
    width: 100%;
    margin-bottom: 5rem;
  }
  .project-image {
    width: 100%;
  }
  .project-card {
    position: absolute;
    left: 0%;
    bottom: -1em;
    width: 100%;
  }
}

.img {
  height:100%;
  width:100%;
  object-fit: cover;
  object-position: center center;
}




@media screen and (min-width: 768px) {
  .projects {
    flex-direction: row;
  }
  .projects > * {
    flex: 0.5;
  }
  .projects .project.active {
    flex: 3;
  }
  .projects > *:not(:last-child) {
    margin-right: 5.5rem;
    margin-bottom: 0rem;
  }
  .project {
    width: 75%;
    margin-bottom: 5rem;
  }
  .project:hover {
    transform: translateY(-15px);
    cursor: pointer;
  }
  .project-image {
      width: 80%;
  }
  .project-card {
    position: absolute;
    width: calc(100% - 40%);
    left: 40%;
    bottom: 0%;
    max-height: 300px;
  }
}