
.projects {
  display: flex;
}
.project {
  position: relative;
  height: 580px;
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
}
.project-header::after {
  display: block;
  content: "";
  height: 0.5rem;
  width: 65%;
  left: 0;
  margin-top: 1.5px;
  background-color: var(--green);
  transform: scaleY(1);
  transition: transform 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.project-image {
  position: absolute;
  height: 75%;
}


@media screen and (max-width: 767px) {
  .projects {
    flex-direction: column;
    min-height: 100vh;
  }
  .projects > * {
    flex: 1;
  }
  .projects .project.active {
    flex: 4;
  }
  .project {
    width: 100%;
    max-height: 600px;
    margin-bottom: 2rem;
  }
  .projects > *:not(:last-child) {
    margin-bottom: 2rem;
    margin-right: 0rem;
  }
  .project-image {
    width: 100%;
    max-height: 225px;
    position: absolute;
    background-clip: padding-box; 
    background: var(--black);
    border-radius: .5rem;
  }
  .project-image::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 0.5rem;
    margin: calc(var(--mobile-image-border) * -1);
    background: linear-gradient(-65deg, var(--green), var(--purple));
    z-index: -1;
    transition: margin .35s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  .projects .project.active .project-image::before {
    transition: margin .35s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    margin: 0;
  }
  .project-card {
    position: absolute;
    left: calc(var(--mobile-image-border) / 2);
    bottom: 1em;
    width: 100%;
  }
  .project-card.offset-tall-card {
    bottom: 5.5rem;
    margin-bottom: 0rem;
  }
}
.img {
  height:100%;
  width:100%;
  object-fit: cover;
  object-position: center center;
}




@media screen and (min-width: 768px) {
  .projects {
    flex-direction: row;
  }
  .projects > * {
    flex: 1;
  }
  .projects .project.active {
    flex: 4;
  }
  .projects > *:not(:last-child) {
    margin-right: 5.5rem;
    margin-bottom: 0rem;
  }
  .project {
    width: 75%;
    margin-bottom: 5rem;
  }
  .project:hover {
    transform: translateY(-15px);
    cursor: pointer;
  }
  .project.active:hover {
    transform: translateY(-15px);
    cursor: default;
  }
  .project-image {
      width: 80%;
      position: relative;
      border: solid transparent;
      background-clip: padding-box; 
      background: var(--black);
      border-radius: .5rem;
  }
  .project-image::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 0.5rem;
    margin: calc(var(--image-border) * -1);
    background: linear-gradient(-65deg, var(--green), var(--purple));
    z-index: -1;
    transition: margin .35s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  .projects .project.active .project-image::before {
    transition: margin .35s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    margin: 0;
  }
  .control {
    width: 0;
    height: 0;
  }
  .project.active .project-card .control {
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
    width: 5rem;
    height: 2.25rem;
    background: linear-gradient(-65deg, var(--green) 0%, #6690F2 25%, #B46AFC 60%,var(--purple));
    border-radius: 1.2em;
    -webkit-transition: all 0.5s ease 0.4s;
    transition: all 0.5s ease 0.4s;
  }
  .project.active .project-card .control::after {
    content: '\276F';
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-weight: 600;
    font-size: 1.5rem;
    animation: 0.7s infinite alternate bounce-horizontally;
  }
  .project.active .project-card .control::hover::after {
    cursor: pointer;
    animation: none;
  }
  @keyframes bounce-horizontally {
    100% {
      transform: translateX(5px);
    }
  }
  .projects .project .project-image img {
    filter: blur(.35rem) grayscale(0.75);
  }
  .projects .project.active .project-image img {
    filter: blur(0) grayscale(0);
    transition: filter 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  .project-card {
    position: absolute;
    width: calc(100% - 40%);
    left: 40%;
    bottom: 0%;
    min-height: 300px;
    max-height: 325px;
    overflow: hidden;
  }
}